
title {
	color: #4169E1;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
}

a.btn {
  background-color: #1f6feb;
  border-color: #1f6feb;
  color: white;
}

a.btn:hover {
  background-color: #145ecb;
  border-color: #145ecb;
}

h1 {
  color: #4fc3f7;
}

/* Container style for dashboard cards */
.dashboard-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    color: white;
  margin-bottom: 1rem; /* extra spacing on small screens */
    transition: transform 0.6s ease, box-shadow 0.6s ease; /* time it takes when you hover*/
}

.dashboard-card:hover {
    transform: scale(1.20);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
nav a.nav-link {
    transition: color 0.3s ease;
}

nav a.nav-link:hover {
    color: #0d6efd; /* Bootstrap’s primary blue colour */
    text-decoration: underline;
}

